.home {
  display: block;
  margin: auto;
  padding: 30px 0;
  // position: absolute;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0;
  margin: auto 0;
}

.navItem {
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  padding-left: 14px;

  display: flex;
  align-items: center;
  width: 216px;
  height: 56px;

  color: #ffffff;

  &:focus {
    color: #1f3349;
    background-image: url(../../images/nav/nav-bg.png);
  }
}

.navLink {
  position: relative;
  top: 50%;
  // transform: translateY(50%);
  // right: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  // width: 216px;
  // height: 56px;
  text-decoration: none;

  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 137%;
}

.navLink.active {
  background-image: url(../../images/nav/nav-bg.png);
  color: #1f3349;
}

// .contactsSpan {
//   padding-left: 14px;
// }
