.form {
  display: block;
  width: 334px;
  height: 274px;
  padding: 25px;

  font-family: 'Roboto';
  background: #ecf0efdb;
  box-shadow: 0px 1px 4px rgba(126, 147, 255, 0.2);
  border-radius: 6px;
}

.label {
  display: block;
  width: 100%;
  margin: 20px auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;

  color: #575b5f;

  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 20px;

  background: #f4f4f4;
  border: 1px solid #c5c5c5;
  border-radius: 6px;

  order: 1;
  align-self: stretch;

  &:focus,
  &:hover {
    cursor: pointer;
    outline: 1px solid #4cc6f5;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 14px;
  text-align: center;
}
