.userAuthMenu {
  position: absolute;
  top: 0;
  left: 266px;
  display: flex;
  margin-top: 30px;
  padding: 10px 20px;

  font-family: 'Roboto';
  font-size: 18px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(126, 147, 255, 0.2);
  border-radius: 6px;
}

p {
  margin: 0 20px;
}
