h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.list {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0px;

  list-style: none;

  font-size: 18px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;

  background: #ffffff8c;
  border-bottom: 1px solid #c5c5c5;
}

.buttonBox {
  display: flex;
  align-items: center;
  gap: 18px;
}
